.app--title {
  text-align: center;
  margin: 1em;
}

.kanban--col {
  background-color: #66b2ff;
  border: 2px solid #fff;
  text-align: center;
}

ul {
  padding: inherit;
}

li {
  margin: 0.25em;
  list-style: none;
  background-color: #ffff66;
  padding: 0.25em 1em;
}

li span.arrow--left {
  float: left;
}

li span.arrow--right {
  float: right;
}

button.add-new-item {
  margin: 1em auto;
}
